argcomplete==1.10.3
beautifulsoup4==4.8.2
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
compressed-rtf==1.0.6
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
gTTS==2.2.3
idna==3.2
IMAPClient==2.1.0
joblib==1.1.0
lxml==4.6.3
mysql-connector==2.2.9
nltk==3.6.3
olefile==0.46
pdfminer.six==20191110
Pillow==8.3.2
pycryptodome==3.10.4
python-pptx==0.6.21
regex==2021.9.30
requests==2.26.0
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
textract==1.6.4
tqdm==4.62.3
tzdata==2021.2.post0
tzlocal==3.0
urllib3==1.26.7
xlrd==1.2.0
XlsxWriter==3.0.1
